.login-page { 
    .login-box {
        position: relative;
        height: 60px;
        width: 100%;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .btn-fblogin {
        border-color: #3B5998;
        background-color: #3B5998;
        color: #fff;
    }
    .btn-googlelogin {
        border-color: #c4c4c4;
        background-color: white;
        color: #484848;
    }

    .btn-fblogin, .btn-googlelogin {
        display: block;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .or-separator-text {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        display: table;

    }
    .rememberMe {
        float:left;
    }
    .rememberMe::after {
        content: "     ";
    }
    .forgot-password {
        float: right;
    }

    .btn-submit {
        border-radius: 5px;
        border-color: #ff5a5f;
        background-color: #ff5a5f;
        color: #fff;
        width: 100%;
        border: none;
        padding: 15px 20px;
    }

}